<section id="about-name" style="padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <p style="font-size: 20px; color: #555; font-weight: 600; margin-bottom: 25px;">
                    {{ t.about_name.heading }}
                </p>    
                
                <p style="font-size: 16px; line-height: 1.6; color: #555; font-style: italic;">
                    {{ t.about_name.text }}
                </p>
            </div>
        </div>
    </div>
</section>