{% assign lang = "en" %}
{% if page.url contains '/fr/' %}
  {% assign lang = "fr" %}
{% endif %}
{% assign t = site.data.locales[lang] %}

<section id="empathy" class="bg-light-gray" style="padding: 80px 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-11 col-lg-offset-1">
                <p style="font-size: 32px; font-weight: 700; line-height: 1.4; margin-bottom: 50px; color: #3F6E93;">
                    {{ t.empathy.headline }}
                </p>

                <p style="font-size: 20px; line-height: 1.8; margin-bottom: 20px; color: #777;">
                    {{ t.empathy.text_1 }}
                </p>
                <p style="font-size: 20px; line-height: 1.8; margin-bottom: 20px; color: #777;">
                    {{ t.empathy.text_2 }}
                </p>
                <p style="font-size: 20px; line-height: 1.8; margin-bottom: 20px; color: #777;">
                    {{ t.empathy.text_3 }}
                </p>
                <p style="font-size: 20px; line-height: 1.8; margin-bottom: 20px; color: #777;">
                    {{ t.empathy.text_4 }}
                </p>
                <p style="font-size: 20px; font-weight: 600; line-height: 1.8; margin-bottom: 30px; color: #373535;">
                    {{ t.empathy.text_5 }}
                </p>

                <div style="margin-top: 60px; margin-bottom: 60px; text-align: center;">
                    <a href="#services" class="page-scroll btn btn-xl">{{ t.header.btn }}</a>
                </div>
            </div>
        </div>
    </div>
</section>