{% assign lang = "en" %}
{% if page.url contains '/fr/' %}
  {% assign lang = "fr" %}
{% endif %}
{% assign t = site.data.locales[lang] %}

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="margin-bottom: 50px;">{{ t.services.heading }}</h2>
            </div>
        </div>

        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            
            <div class="col-md-4" style="display: flex;">
                <div class="service-card">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse fa-fw"></i>
                    </span>
                    <h4 class="service-heading">{{ t.services.dev_editing.title }}</h4>
                    <p class="large text-muted">
                        {{ t.services.dev_editing.desc }}
                    </p>
                    <div class="price-note">{{ t.services.dev_editing.price }}</div>
                </div>
            </div>

            <div class="col-md-4" style="display: flex;">
                <div class="service-card">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse fa-fw"></i>
                    </span>
                    <h4 class="service-heading">{{ t.services.copy_editing.title }}</h4>
                    <p class="large text-muted">
                        {{ t.services.copy_editing.desc }}
                    </p>
                    <div class="price-note">{{ t.services.copy_editing.price }}</div>
                </div>
            </div>

            <div class="col-md-4" style="display: flex;">
                <div class="service-card">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse fa-fw"></i>
                    </span>
                    <h4 class="service-heading">{{ t.services.figure_design.title }}</h4>
                    <p class="large text-muted">
                        {{ t.services.figure_design.desc }}
                    </p>
                    <div class="price-note">{{ t.services.figure_design.price }}</div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12 text-center" style="margin-top: -60px; margin-bottom: 200px;">
        <h3 class="large text-muted" style="margin-bottom: 30px; text-transform: none;">{{ t.services.cta }}</h3>
        <a href="#contact" class="btn btn-xl">{{ t.services.btn }}</a>
    </div>
</div>