<section id="testimonials" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What clients say</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="team-member" style="margin-bottom: 50px;">
                    <i class="fa fa-quote-left fa-2x" style="color: #3F6E93; margin-bottom: 20px;"></i>
                    
                    <p class="large" style="font-style: italic; color: #333; font-size: 18px; padding: 0 20px;">
                        "With Camille's help, I went from being insecure about writing to genuinely enjoying it. At my current job as a researcher, I write many proposals and reports; my team lead was so impressed by my first report that he immediately alerted the director to my writing skills. Without Camille, I daresay that would not have happened! I would highly recommend Camille as a writing coach."
                    </p>
                    <h4 style="margin-top: 15px; font-weight: 700;">— Nina, Entomology Researcher</h4>
                </div>
            </div>

            <div class="col-sm-6 text-center">
                <div class="team-member" style="margin-bottom: 50px;">
                    <i class="fa fa-quote-left fa-2x" style="color: #3F6E93; margin-bottom: 20px;"></i>
                    
                    <p class="large" style="font-style: italic; color: #333; font-size: 18px; padding: 0 20px;">
                        "Camille was very helpful. Even though my paper was outside his field, he still provided valuable feedback and thoughtful suggestions."
                    </p>
                    <h4 style="margin-top: 15px; font-weight: 700;">— Rawda, Graduate Student</h4>
                </div>
            </div>
        </div>
    </div>
</section>